#footer{
    
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;

}
.icons{
    margin-top: 20px;
}

#facebook{

    padding: 5px;
    color :rgb(5, 32, 151);
}

#youtube{

    padding: 5px;
    color: red;
}

#twitter{

    padding: 5px;
    color: rgb(21, 163, 199)
}