header{

    background-color:rgb(53, 53, 53);

}

nav{
    
    width: 40%;
    margin-left: 75%;
    
}

ul{
    
    list-style: none;
    
}

li{

    display: inline;
    padding-left: 10px;
}

a{
    text-decoration: none;
    color:whitesmoke;
    font-weight: bolder;
    font-family: sans-serif;
}