.main{

    margin-top: 50px;
}

#profile{

    width: 20%;
    align-items: center;
    margin-left: 40%;
    border-radius: 10%;

}

p{
    width: 80%;
    margin: auto;
    margin-top:30px;
    margin-bottom: 100px;
    font-family: sans-serif;
    text-align: center;
}