h2{

    font-family:sans-serif;
    text-align: center;
    margin-top: 50px;
    margin-bottom:50px;

}


.projectItem{

    border: grey 2px solid;
    border-radius: 8px;
    margin:30px;

}

h4{

    font-family: sans-serif;
    font-size: larger;
    text-align: center;
    padding-top: 20px;
}

#projectImg{

    width: 45%;
    align-items: center;
    margin-top: 30px;
    display: block;
    border-top:gray solid 3px;
    border-bottom:gray solid 3px;

}