h2{

    font-family:sans-serif;
    text-align: center;
    margin-top: 200px;

}

.techs{

  width: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 35%;

}


#node,#react,#python{
    
    width: 120px;
    margin-right: 20px;
    border-radius: 50%;
    border:rgb(155, 155, 155) 1px solid; 
}

#node:hover,#react:hover,#python:hover{
    
    transition:0.3s;
    width: 130px;
}





