h2{

    font-family:sans-serif;
    text-align: center;

}

.techs{

  width: 50%;
  margin: auto;
  margin-bottom: 50px;

}


#node,#react,#python{
    
    width: 120px;
    margin-right: 20px;
    border-radius: 50%;
}

#node:hover,#react:hover,#python:hover{
    
    transition:0.3s;
    width: 130px;
}

#react{

    margin-left: 20%;

}




